<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<!-- Onload -->
	<key>Onload</key>
	<array>

		<string>views.wrapper.contentOffsetY = 392</string>

	</array>
	<!-- // Onload -->
	
	<!-- LabelStyle -->
	<key>LabelStyle</key>
	<dict>

		<key>labelFontSize</key>
		<integer>0</integer>

	</dict>
	<!-- // LabelStyle -->

	
	<!-- MainView -->
	<key>MainView</key>
	<array>
	
		<!-- Wrapper -->
		<dict>

			<key>Actions</key>
			<array>
		
				<string>function rotateArrow</string>
				<string>function preventOverscroll</string>
			 
			</array>

			<key>ContentHeight</key>
			<integer>960</integer>
			
			<key>ContentWidth</key>
			<integer>320</integer>

			<key>Frame</key><string>0,0,320,568</string>
			<key>Paging</key><true/>

			<key>id</key>
			<string>wrapper</string>

			<key>Subviews</key>
			<array>

				<!-- ApplicationGrid -->
				<dict>

					<key>ContentHeight</key>
					<integer>392</integer>
					
					<key>ContentWidth</key>
					<integer>1600</integer> <!-- # of Pages * 320 -->
					
					<key>Frame</key>
					<string>0,0,320,392</string>
					
					<key>HorizontalScrollBars</key>
					<false/>
					
					<key>Paging</key>
					<true/>
					
					<key>ViewType</key>
					<string>ScrollView</string>
					
					<key>Subviews</key>
					<array>
					
						<!-- ApplicationGrid: Page 1 -->

						<!-- Mask: Page 1 -->
						<dict>

							<key>Frame</key>
							<string>0,0,320,320</string>
							
							<key>Image</key>
							<string>$ROOT/Images/Mask.png</string>
							
							<key>ViewType</key>
							<string>ImageView</string>

						</dict>
						<!-- // Mask: Page 1 -->

						<dict>

							<key>AllApps</key>
							<false/>
							
							<key>Apps</key>
							<array>

								<string>com.apple.Music</string>
								<string>com.apple.mobilemail</string>
								<string>com.apple.mobilesafari</string>
								<string>com.apple.Preferences</string>
								<string>com.apple.weather</string>
								<string>com.apple.calculator</string>
								<string>com.apple.camera</string>
								<string>com.apple.facetime</string>
								<string>com.apple.VoiceMemos</string>

							</array>

							<key>Cols</key>
							<integer>3</integer>
							
							<key>Frame</key>
							<string>56,92,222,222</string>
							
							<key>GapX</key>
							<integer>74</integer>
							
							<key>GapY</key>
							<integer>74</integer>
							
							<key>IconHeight</key>
							<integer>60</integer>
							
							<key>IconWidth</key>
							<integer>60</integer>
							
							<key>PageWidth</key>
							<integer>320</integer>

							<key>Rows</key>
							<integer>3</integer>
							
							<key>ViewType</key>
							<string>AppGrid</string>

						</dict>
						<!-- // Application Grid: Page 1 -->

						<!-- ApplicationGrid: Page 2 -->

						<!-- Mask: Page 2 -->
						<dict>

							<key>Frame</key>
							<string>320,0,320,320</string> <!-- +320 contentOffsetX -->
							
							<key>Image</key>
							<string>$ROOT/Images/Mask.png</string>
							
							<key>ViewType</key>
							<string>ImageView</string>

						</dict>
						<!-- // Mask: Page 2 -->

						<dict>

							<key>AllApps</key>
							<false/>
							
							<key>Apps</key>
							<array>

								<string>com.apple.mobilecal</string>
								<string>com.apple.mobiletimer</string>
								<string>com.apple.mobileslideshow</string>
								<string>com.apple.mobilephone</string>
								<string>com.apple.MobileSMS</string>
								<string>com.apple.Maps</string>
								<string>com.apple.mobilenotes</string>
								<string>com.apple.videos</string>
								<string>com.apple.gamecenter</string>

							</array>

							<key>Cols</key>
							<integer>3</integer>
							
							<key>Frame</key>
							<string>376,92,222,222</string> <!-- +320 contentOffsetX -->
							
							<key>GapX</key>
							<integer>74</integer>
							
							<key>GapY</key>
							<integer>74</integer>
							
							<key>IconHeight</key>
							<integer>60</integer>
							
							<key>IconWidth</key>
							<integer>60</integer>
							
							<key>PageWidth</key>
							<integer>320</integer>

							<key>Rows</key>
							<integer>3</integer>
							
							<key>ViewType</key>
							<string>AppGrid</string>

						</dict>
						<!-- // Application Grid: Page 2 -->

						<!-- ApplicationGrid: Page 3 -->

						<!-- Mask: Page 3 -->
						<dict>

							<key>Frame</key>
							<string>640,0,320,320</string> <!-- +640 contentOffsetX -->
							
							<key>Image</key>
							<string>$ROOT/Images/Mask.png</string>
							
							<key>ViewType</key>
							<string>ImageView</string>

						</dict>
						<!-- // Mask: Page 3 -->

						<dict>

							<key>AllApps</key>
							<false/>
							
							<key>Apps</key>
							<array>

								<string>com.apple.MobileAddressBook</string>
								<string>com.apple.stocks</string>
								<string>com.apple.MobileStore</string>
								<string>com.apple.reminders</string>
								<string>com.apple.Passbook</string>
								<string>com.apple.compass</string>
								<string>com.apple.Pages</string>
								<string>com.apple.Keynote</string>
								<string>com.PixelKinetics.Sumhold</string>

							</array>

							<key>Cols</key>
							<integer>3</integer>
							
							<key>Frame</key>
							<string>696,92,222,222</string> <!-- +640 contentOffsetX -->
							
							<key>GapX</key>
							<integer>74</integer>
							
							<key>GapY</key>
							<integer>74</integer>
							
							<key>IconHeight</key>
							<integer>60</integer>
							
							<key>IconWidth</key>
							<integer>60</integer>
							
							<key>PageWidth</key>
							<integer>320</integer>

							<key>Rows</key>
							<integer>3</integer>
							
							<key>ViewType</key>
							<string>AppGrid</string>

						</dict>
						<!-- // Application Grid: Page 3 -->

						<!-- ApplicationGrid: Page 4 -->

						<!-- Mask: Page 4 -->
						<dict>

							<key>Frame</key>
							<string>960,0,320,320</string> <!-- +960 contentOffsetX -->
							
							<key>Image</key>
							<string>$ROOT/Images/Mask.png</string>
							
							<key>ViewType</key>
							<string>ImageView</string>

						</dict>
						<!-- // Mask: Page 4 -->

						<dict>

							<key>AllApps</key>
							<false/>
							
							<key>Apps</key>
							<array>

								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>

							</array>

							<key>Cols</key>
							<integer>3</integer>
							
							<key>Frame</key>
							<string>1016,92,222,222</string> <!-- +960 contentOffsetX -->
							
							<key>GapX</key>
							<integer>74</integer>
							
							<key>GapY</key>
							<integer>74</integer>
							
							<key>IconHeight</key>
							<integer>60</integer>
							
							<key>IconWidth</key>
							<integer>60</integer>
							
							<key>PageWidth</key>
							<integer>320</integer>

							<key>Rows</key>
							<integer>3</integer>
							
							<key>ViewType</key>
							<string>AppGrid</string>

						</dict>
						<!-- // Application Grid: Page 4 -->

						<!-- ApplicationGrid: Page 5 -->

						<!-- Mask: Page 5 -->
						<dict>

							<key>Frame</key>
							<string>1280,0,320,320</string> <!-- +1280 contentOffsetX -->
							
							<key>Image</key>
							<string>$ROOT/Images/Mask.png</string>
							
							<key>ViewType</key>
							<string>ImageView</string>

						</dict>
						<!-- // Mask: Page 5 -->

						<dict>

							<key>AllApps</key>
							<false/>
							
							<key>Apps</key>
							<array>

								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>
								<string>CFBUNDLEIDENTIFIER</string>

							</array>

							<key>Cols</key>
							<integer>3</integer>
							
							<key>Frame</key>
							<string>1336,92,222,222</string> <!-- +1280 contentOffsetX -->
							
							<key>GapX</key>
							<integer>74</integer>
							
							<key>GapY</key>
							<integer>74</integer>
							
							<key>IconHeight</key>
							<integer>60</integer>
							
							<key>IconWidth</key>
							<integer>60</integer>
							
							<key>PageWidth</key>
							<integer>320</integer>

							<key>Rows</key>
							<integer>3</integer>
							
							<key>ViewType</key>
							<string>AppGrid</string>

						</dict>
						<!-- // Application Grid: Page 5 -->
						
					</array>

				</dict>
				<!-- // ApplicationGrid -->

				<!-- ApplicationCards -->
				<dict>

					<key>ContentHeight</key>
					<integer>192</integer>
					
					<key>ContentWidth</key>
					<integer>640</integer>
					
					<key>Frame</key>
					<string>0,568,320,200</string>
					
					<key>HorizontalScrollBars</key>
					<false/>
					
					<key>Paging</key>
					<true/>
					
					<key>ViewType</key>
					<string>ScrollView</string>
					
					<key>Subviews</key>
					
					<array>

						<dict>

							<key>BundleID</key>
							<string>com.apple.AppStore</string>

							<key>Frame</key>
							<string>0,0,320,200</string>
							
							<key>IconHeight</key>
							<integer>192</integer>
							
							<key>IconWidth</key>
							<integer>320</integer>
							
							<key>ViewType</key>
							<string>AppIcon</string>

						</dict>

						<dict>
							<key>BundleID</key>
							<string>com.wynd.dreamboard</string>
							
							<key>Frame</key>
							<string>320,0,320,200</string>
							
							<key>IconHeight</key>
							<integer>192</integer>
							
							<key>IconWidth</key>
							<integer>320</integer>
							
							<key>ViewType</key>
							<string>AppIcon</string>

						</dict>

					</array>

				</dict>
				<!-- // ApplicationCards -->

				<!-- Dash -->
				<dict>

					<key>Frame</key>
					<string>0,392,320,568</string>

					<key>URL</key>
					<string>$ROOT/Code/Bodge.html</string>

					<key>ViewType</key><string>WebView</string>

				</dict>
				<!-- // Dash -->

					<!-- Arrow -->
					<dict>

						<key>Frame</key>
						<string>152,438,16,4.5</string>

						<key>id</key>
						<string>arrow</string>
						
						<key>Image</key>
						<string>$ROOT/Images/Arrow.png</string>
						
						<key>ViewType</key>
						<string>ImageView</string>

					</dict>
					<!-- // Arrow -->
				
				<!-- Dash Background ** REPLACED BY WALL 1/28 **
				<dict>

					<key>Frame</key>
					<string>0,392,320,568</string>
					
					<key>Image</key>
					<string>$ROOT/Images/Dash.png</string>
					
					<key>ViewType</key>
					<string>ImageView</string>

				</dict>
				<!-- Dash Background -->

				<!-- Wallpaper -->
				<dict>

					<key>Frame</key>
					<string>0,0,320,960</string>
					
					<key>Image</key>
					<string>$ROOT/Images/Wall.png</string>
					
					<key>ViewType</key>
					<string>ImageView</string>

				</dict>
				<!-- // Wallpaper -->
				
			</array>

			<key>VerticalScrollBars</key>
			<false/>

			<key>ViewType</key>
			<string>ScrollView</string>
			
		</dict>
		<!-- // Wrapper -->

		<!-- Background -->
		<dict>

			<key>Frame</key>
			<string>0,0,320,960</string>
			
			<key>Image</key>
			<string>$ROOT/Images/Wall.png</string>
			
			<key>ViewType</key>
			<string>ImageView</string>

		</dict>
		<!-- // Background -->

	</array>
	<!-- // MainView -->
	
	<!-- Functions -->
	<key>Functions</key>
	
	<dict>

		<key>rotateArrow</key>
		<array>
		
			<string>get.views.wrapper.contentOffsetY = 0 ? views.arrow.rotation = 180 animated:0.15 : nothing</string>
			<string>get.views.wrapper.contentOffsetY = 392 ? views.arrow.rotation = 0 animated:0.15 : nothing</string>
			
		</array>

		<key>preventOverscroll</key>
		<array>

			<string>get.views.wrapper.contentOffsetY lt 0 ? views.wrapper.contentOffsetY = 0 : nothing</string>
			<string>get.views.wrapper.contentOffsetY gt 392 ? views.wrapper.contentOffsetY = 392 : nothing</string>

		</array>
		
	</dict>
	<!-- // Functions -->
	
</dict>
</plist>